<div class="container-fluid">
  <div class="row">
    <main
      role="main"
      class="col-md-9 ml-sm-auto col-lg-10 px-4 d-flex flex-column justify-content-center align-items-center h-100"
    >
      <br /><br />

      <br />
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
      >
        <div class="flex-md-nowrap p-0 shadow">
          <div class="card border-primary" style="width: 40rem">
            <div class="card-body">
              <h5 class="card-title text-primary" style="text-align: center">
                Modifier Profil
              </h5>
              <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
              <form (ngSubmit)="setEtudiant()" [formGroup]="formGroup">
                <div class="row">
                  <div class="col">
                    <label for="nom">Nom :</label>
                    <input
                      type="text"
                      class="form-control"
                      id="nom"
                      placeholder="NOM"
                    />
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-md-6">
                    <label for="prenom">Prénom :</label>
                    <input
                      type="text"
                      class="form-control"
                      id="prenom"
                      placeholder="Prénom"
                    />
                  </div>
                  <div class="col-md-6">
                    <label for="email">Email :</label>
                    <input
                      type="email"
                      class="form-control"
                      id="email"
                      placeholder="Email"
                    />
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-md-6">
                    <label for="numtel">Numéro de telephone :</label>
                    <input
                      type="number"
                      class="form-control"
                      id="numtel"
                      placeholder="Numéro de telephone"
                    />
                  </div>
                  <div class="col-md-6">
                    <label for="datenaiss">Date de Naissance :</label>
                    <input
                      type="Text"
                      class="form-control"
                      id="datenaiss"
                      placeholder="20/03/1956"
                    />
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-md-6">
                    <label for="numins">Numéro d'inscription :</label>
                    <input
                      type="number"
                      class="form-control"
                      id="numins"
                      placeholder="Numéro d'inscription"
                    />
                  </div>
                  <div class="col-md-6">
                    <label for="niveau">Niveau :</label>
                    <input
                      type="number"
                      class="form-control"
                      id="niveau"
                      placeholder="Niveau"
                    />
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-md-6">
                    <label for="groupe">Groupe :</label>
                    <input
                      type="text"
                      class="form-control"
                      id="groupe"
                      placeholder="Groupe"
                    />
                  </div>
                  <div class="col-md-6">
                    <label for="spécialité">Spécialité :</label>
                    <input
                      type="text"
                      class="form-control"
                      id="spécialité"
                      placeholder="Spécialité"
                    />
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col">
                    <label for="diplome">Diplôme :</label>
                    <input
                      type="text"
                      class="form-control"
                      id="diplome"
                      placeholder="Diplôme"
                    />
                  </div>
                </div>
                <br />
                <div class="d-flex justify-content-end">
                  <button class="btn btn-primary mb-4" type="submit">
                    Modifier
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
