<div class="container">
    <div
      class="d-flex flex-column justify-content-center align-items-center h-100"
    >
      <div class="container d-flex justify-content-center m-3 text-primary">
       <br>
      </div>
      <div class="card border-primary" style="width: 40rem">
        <div class="card-body">
          <h5 class="card-title text-primary" style="text-align: center;">Détails de l'étudiant</h5>
          <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
          <div class="row">
            <div class="col-md-6">
                <label for="cin">CIN :</label>
                <br>
                <label for="nom">Nom :</label>
                <br>
                <label for="prenom">Prénom :</label>
                <br>
                <label for="email">Email :</label>
                <br>
                <label for="numtel">Numéro de Téléphone :</label>
                <br>
                <label for="datenaiss">Date de Naissance :</label>
                <br>
                <label for="numins">Numéro d'inscription :</label>
                <br>
                <label for="niveau">Niveau :</label>
                <br>
                <label for="groupe">Groupe :</label>
                <br>
                <label for="specialite">Spécialité :</label>
                <br>
                <label for="diplome">Diplôme :</label>
              </div>

          </div>
       
        </div>
      </div>
    </div>
  </div>
  


