<nav class="col-md-2 d-none d-md-block bg-primary sidebar"> 
<div class="sidebar-sticky">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" href="#" style="background-color: transparent; color: white;">Liste des étudiants</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" style="background-color: transparent; color: white;">Ajouter des étudiants</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" style="background-color: transparent; color: white;">Traiter les demande</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" style="background-color: transparent; color: white;">Traiter les réclamations</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" style="background-color: transparent; color: white;">Archives des demandes</a>
    </li>
  </ul>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>



</div>
  </nav>
  
