<nav class="col-md-2 d-none d-md-block bg-light sidebar"> 
<div class="sidebar-sticky">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" routerLink="admin/add/etudiant" style="background-color: transparent; color: blue;">Liste des étudiants</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  style="background-color: transparent; color: blue;" (click)="addEtudiant()">Ajouter des étudiants</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" style="background-color: transparent; color: blue;"(click)="traiterDemandes()">Traiter les demande</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" style="background-color: transparent; color: blue;">Traiter les réclamations</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" style="background-color: transparent; color: blue;">Archives des demandes</a>
    </li>
  </ul>
</div>
  </nav>

 

