<br>
<br>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <div class="card">
            <div class="card-body navbar navbar-dark bg-primary">
                <h5><a  class="btn-btn-light" style="background-color: transparent; color: white;" routerLink="/etudiant/profil">Voir le profil</a></h5>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
            <div class="card-body navbar navbar-dark bg-primary">
                <h5><a href="#" class=" btn-btn-light" style="background-color: transparent; color: white;" routerLink="/etudiant/set/etudiant">Modifier le profil</a></h5>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
          </div>
        </div>
      
    </div>
    <br>
    <div class="row">
        <div class="col-sm-3 mb-3 mb-sm-0">
            <div class="card">
              <div class="card-body navbar navbar-dark bg-primary">
                  <h5><a  class=" btn-btn-light" style="background-color: transparent; color: white;"  routerLink="/etudiant/demande/attest">Demande d'attestation de présence</a></h5>
                  <br>
                  <br>
                  <br>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card">
            <div class="card-body navbar navbar-dark bg-primary">
                <h5><a href="#" class=" btn-btn-light" style="background-color: transparent; color: white;">Demande d'attestation d'inscription</a></h5>
                <br>
                <br>
                <br>
            </div>
          </div>
        </div>
        <div class="col-sm-3 mb-3 mb-sm-0">
            <div class="card">
              <div class="card-body navbar navbar-dark bg-primary">
                  <h5><a href="#" class=" btn-btn-light" style="background-color: transparent; color: white;">Suivi des demandes en cours</a></h5>
                  <br>
                  <br>
                  <br>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card">
            <div class="card-body navbar navbar-dark bg-primary">
                <h5><a  class=" btn-btn-light" style="background-color: transparent; color: white;" routerLink="/etudiant/add/reclamation">Faire une  réclamation</a></h5>
                <br>
                <br>
                <br>
                <br>
                <br>
                <div class="modal fade" id="rec" tabindex="-1" aria-labelledby="exampleModalLabel"aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">Attestation de présence</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Veuillez remplir ces informations
                            <form>
                                <div class="form-group">
                                    <input
                                    type="text"
                                    class="form-control"
                                    id="formGroupExampleInput"
                                    placeholder="Description*" required
                                    />
                                </div>
                                <button type="button" class="btn btn-primary">Confirmer</button>
                            </form>
                        </div>
                    </div>
                 </div>
            </div>
          </div>
        </div>

    </div>
</div>
