<div class="container">
    <div
      class="d-flex flex-column justify-content-center align-items-center h-100"
    >
      <div class="container d-flex justify-content-center m-3 text-primary">
        <h1>Réservé à l'administration</h1>
      </div>
      <div class="card border-primary" style="width: 40rem">
        <div class="card-body">
          <h5 class="card-title text-primary" style="text-align: center;">Connexion</h5>
          <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
          <form>
            <div class="form-group">
              <label for="formGroupExampleInput">Email :</label>
              <input
                type="text"
                class="form-control"
                id="formGroupExampleInput"
                placeholder="Email ou CIN"
              />
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput2">Mot de passe :</label>
              <input
                type="password"
                class="form-control"
                id="formGroupExampleInput2"
                placeholder="Mot de passe"
              />
            </div>
            <div class="d-flex justify-content-end">
              <button class="btn btn-primary mb-4">Se Connecter</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  

