<div class="container-fluid">
  <div class="row">
    <main
      role="main"
      class="col-md-9 ml-sm-auto col-lg-10 px-4 d-flex flex-column justify-content-center align-items-center h-100"
    >
      <div
        class="d-flex flex-column justify-content-center align-items-center h-100"
      >
        <div class="card border-primary" style="width: 40rem">
          <div class="card-body">
            <h5 class="card-title text-primary" style="text-align: center">
              Importer des étudiants à partir d'un fichier .csv
            </h5>
            <div class="text-center">
              <input
                class="form-control"
                type="file"
                (change)="onChange($event)"
              />

              <button (click)="onUpload()" class="btn btn-success">
                Upload
              </button>
            </div>

            <!-- Shareable short link of  uploaded file -->
            <div class="container text-center jumbotron" *ngIf="shortLink">
              <h2>Succès d'importation</h2>
            </div>
          </div>
        </div>
        <!--Flag variable is used here-->
        <div class="container" *ngIf="loading">
          <h3>Chargement ...</h3>
        </div>
      </div>
      <br />

      <br /><br />

      <br />
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
      >
        <div class="flex-md-nowrap p-0 shadow">
          <div class="card border-primary" style="width: 40rem">
            <div class="card-body">
              <h5 class="card-title text-primary" style="text-align: center">
                Ajouter un étudiant
              </h5>
              <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
              <form (ngSubmit)="addEtudiant()" [formGroup]="formGroup">
                <div class="row">
                  <div class="col-md-6">
                    <label for="cin">CIN :</label>
                    <input
                      type="text"
                      class="form-control"
                      id="cin"
                      formControlName="cin"
                      placeholder="CIN"
                    />
                  </div>
                  <div class="col-md-6">
                    <label for="cin">Nom :</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="nom"
                      id="nom"
                      placeholder="NOM"
                    />
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-md-6">
                    <label for="prenom">Prénom :</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="prenom"
                      id="prenom"
                      placeholder="Prénom"
                    />
                  </div>
                  <div class="col-md-6">
                    <label for="email">Email :</label>
                    <input
                      type="email"
                      class="form-control"
                      id="email"
                      formControlName="email"
                      placeholder="Email"
                    />
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-md-6">
                    <label for="numtel">Numéro de telephone :</label>
                    <input
                      type="number"
                      class="form-control"
                      id="numtel"
                      formControlName="numTel"
                      placeholder="Numéro de telephone"
                    />
                  </div>
                  <div class="col-md-6">
                    <label for="datenaiss">Date de Naissance :</label>
                    <input
                      type="Text"
                      class="form-control"
                      id="datenaiss"
                      formControlName="dateNaiss"
                      placeholder="Date de Naissance"
                    />
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-md-6">
                    <label for="numins">Numéro d'inscription :</label>
                    <input
                      type="number"
                      class="form-control"
                      id="numins"
                      formControlName="numInsc"
                      placeholder="Numéro d'inscription"
                    />
                  </div>
                  <div class="col-md-6">
                    <label for="niveau">Niveau :</label>
                    <input
                      type="number"
                      class="form-control"
                      id="niveau"
                      formControlName="niveau"
                      placeholder="Niveau"
                    />
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-md-6">
                    <label for="groupe">Groupe :</label>
                    <input
                      type="text"
                      class="form-control"
                      id="groupe"
                      formControlName="groupe"
                      placeholder="Groupe"
                    />
                  </div>
                  <div class="col-md-6">
                    <label for="spécialité">Spécialité :</label>
                    <input
                      type="text"
                      class="form-control"
                      id="spécialité"
                      formControlName="specialite"
                      placeholder="Spécialité"
                    />
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col">
                    <label for="diplome">Diplôme :</label>
                    <input
                      type="text"
                      class="form-control"
                      id="diplome"
                      formControlName="parcours"
                      placeholder="Diplôme"
                    />
                  </div>
                </div>
                <br />
                <div class="d-flex justify-content-end">
                  <button class="btn btn-primary mb-4" type="submit">
                    Ajouter
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
